<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>
    <main class="container">
        <h1 class="font-weight-normal text-left text-primary">About</h1>
        <section class="row">
            <section class="about p-4">
                <p class="about_body text-secondary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet error ipsam accusantium aut? Quis
                    cum debitis officia modi temporibus. Ad placeat aliquam omnis perspiciatis natus praesentium
                    similique provident tenetur eum, nemo reiciendis suscipit eveniet temporibus veniam dignissimos
                    doloribus ab qui repellat assumenda eligendi nam pariatur. Obcaecati id iusto facilis quasi!
                </p>
            </section>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>


</body>

</html>