<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">blog</a>
            </li>
            <li>
                <a href="/about">about</a>
            </li>
        </ul>
    </nav>
    <h2>About Page</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, suscipit?</p>
</body>

</html>